body {
    text-align: center;
}
h1 {
    text-align: center;
}
.podium {
    display: inline;
    align-items: center;
    text-align: center;
    list-style-type: none;
}
.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    width: 16%;  
    margin-left: 42%;  
}
.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    width: 20%; 
    display: inline-block;
}
.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    width: 20%;   
    display: inline-block;
}
ul {
    list-style-type: none;
}

